{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Itinerary {{ place }} - TripEase</title>
{% endblock title  %}

{% block content %}
  
<div class="w-full h-full overflow-x-hidden overflow-y-scroll bg-[url('/static/images/bg.jpg')] bg-cover flex flex-col  px-8 py-4 md:px-16 md:py-8 lg:px-36 lg:py-16 gap-8">
    
    <div class="bg-slate-100 rounded-md flex flex-col p-8 shadow-md gap-2">
        <div class="flex justify-center  border-b-2 pb-2 mb-4 items-center">
            <a href="{% url "traveler:traveler" %}" class="mr-auto hover:scale-110">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                  </svg>
                  
            </a>
        <span class="text-3xl font-semibold text-center mr-auto">Your Itinerary</span>

        </div>
        <div class="flex flex-col md:flex-row gap-2 justify-evenly">
            <div class="text-lg flex gap-2">
                <span class="font-semibold">Destination: </span>
                <span class="text-gray-500">{{ destination }}</span>
            </div>
            <div class="text-lg flex gap-2">
                <span class="font-semibold">Budget: </span>
                <span class="text-gray-500">₹{{ budget }}</span>
            </div>
            <div class="text-lg flex gap-2">
                <span class="font-semibold">Duration: </span>
                <span class="text-gray-500">{{ duration }} days</span>
            </div>
        </div>
    </div>

    <div class="flex flex-col lg:grid lg:grid-cols-3 rounded-md bg-slate-100 shadow-md p-8 gap-8">
        <span class="text-xl col-span-3 font-semibold">Rooms</span>
        {% for room in rooms %}
        <div class="rounded bg-white border-2 p-4 flex flex-col gap-2">              
            <span class="font-semibold">{{room.hotel_name.name}}</span>
            <div class="flex gap-4"><span>Type:</span> <span class="text-gray-400">{{room.room_type}}</span></div>
            <div class="flex gap-4"><span>Rooms:</span> <span class="text-gray-400">{{room.count}}</span></div>
            <div class="flex gap-4"><span>Bathroom Type:</span> <span class="text-gray-400">{% if room.bathroom_attached  %}Attached{% else %}Shared{% endif %}</span></div>
            <div class="flex gap-4"><span>Rate:</span> <span class="text-gray-400">₹{{room.price}} / night</span></div>
            <div class="flex gap-4"><span>Location:</span> <span class="text-gray-400">{{room.hotel_name.place}}</span></div>
            <div class="flex gap-4"><span>Phone:</span> <span class="text-gray-400">+91{{room.hotel_name.phone}}</span></div>
            <div class="flex">
                <a href="{% url 'hotel:book-room' room.id %}" class="bg-blue-800 hover:bg-blue-900 text-white px-2 py-1 text-sm rounded">
                    Book Now
                </a>
            </div>
        </div>
        {%empty%}
        <div class="flex flex-col col-span-3 gap-4 w-full justify-center items-center my-8">
            <img src="{% static "images/empty.svg" %}" class="w-64 opacity-50" alt="">
            <span class="text-xs text-gray-300">No Rooms found!</span>
        </div>
        {% endfor %}
    </div>

    <div class="flex flex-col lg:grid lg:grid-cols-3 rounded-md bg-slate-100 shadow-md p-8 gap-8">
        <span class="text-xl col-span-3 font-semibold">Combos</span>
        {% for combo in combos %}
        <div class="rounded bg-white border-2 p-4 flex flex-col gap-2">              
            <span class="font-semibold">{{combo.name}}</span>
            <div class="flex gap-4"><span>Price:</span> <span class="text-gray-400">₹{{combo.price}}</span></div>
            <div class="flex gap-4"><span>Restaurant:</span> <span class="text-gray-400">{{combo.restaurant_name.name}}</span></div>
            <div class="flex gap-4"><span>Rate:</span> <span class="text-gray-400">₹{{combo.price}}</span></div>
            <div class="flex gap-4"><span>Location:</span> <span class="text-gray-400">{{combo.restaurant_name.place}}</span></div>
            <div class="flex gap-4"><span>Phone:</span> <span class="text-gray-400">+91{{combo.restaurant_name.phone}}</span></div>
            <div class="flex">
                <a href="{% url 'restaurant:book-combo' combo.id %}" class="bg-blue-800 hover:bg-blue-900 text-white px-2 py-1 text-sm rounded">
                    Book Now
                </a>
            </div>
        </div>
        {%empty%}
        <div class="flex flex-col col-span-3 gap-4 w-full justify-center items-center my-8">
            <img src="{% static "images/empty.svg" %}" class="w-64 opacity-50" alt="">
            <span class="text-xs text-gray-300">No Combos found!</span>
        </div>
        {% endfor %}
    </div>
    <div class="flex flex-col lg:grid lg:grid-cols-3 rounded-md bg-slate-100 shadow-md p-8 gap-8">
        <span class="text-xl col-span-3 font-semibold">Taxis</span>
        {% for taxi in taxis %}
        <div class="rounded bg-white border-2 p-4 flex flex-col gap-2">              
            <span class="font-semibold">{{taxi.name}}</span>
            <div class="flex gap-4"><span>Type:</span> <span class="text-gray-400">{{taxi.type}}</span></div>
            <div class="flex gap-4"><span>Daily Rent:</span> <span class="text-gray-400">₹{{taxi.daily_rent}}</span></div>
            <div class="flex gap-4"><span>KM Charge:</span> <span class="text-gray-400">₹{{taxi.km_charge}} / KM</span></div>
            <div class="flex gap-4"><span>Location:</span> <span class="text-gray-400">{{taxi.place}}</span></div>
            <div class="flex gap-4"><span>Phone:</span> <span class="text-gray-400">+91{{taxi.phone}}</span></div>
            <div class="flex">
                <a href="{% url 'taxi:book-taxi' taxi.id %}" class="bg-blue-800 hover:bg-blue-900 text-white px-2 py-1 text-sm rounded">
                    Book Now
                </a>
            </div>
        </div>
        {%empty%}
        <div class="flex flex-col col-span-3 gap-4 w-full justify-center items-center my-8">
            <img src="{% static "images/empty.svg" %}" class="w-64 opacity-50" alt="">
            <span class="text-xs text-gray-300">No Taxis found!</span>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}



