{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Purchase Loyalty Card</title>
{% endblock %}

{% block content %}
    <div class="container mx-auto p-4">
        <h1 class="text-3xl font-bold mb-4">Purchase Loyalty Card</h1>
        
        <form action="{% url 'loyalty:purchase-card' %}" method="post" class="max-w-md mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">

            <!-- Show available cards -->
            <h2 class="text-xl font-semibold mb-2">Available Cards</h2>
            <ul>
                {% for card_type in available_card_types %}
                    <li>{{ card_type.name }} - Points: {{ card_type.points }} - Price: {{ card_type.price }} per month</li>
                {% endfor %}
            </ul>

            {% csrf_token %}
            {{ form|crispy }}

            <!-- Add button to purchase card -->
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-4">Purchase Card</button>
        </form>
    </div>
{% endblock %}
