<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add rooms</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}

        <label for="id_restaurant_name">Hotel:</label>
        <input type="text" name="hotel_name" maxlength="50" required="" id="id_hotel_name" readonly {% if hotel %}value="{{hotel.name}}"{% else %}{% endif %}">

        <label for="id_room_type">Room type:</label>
        <input type="text" name="room_type" maxlength="50" required="" id="id_room_type">

        <label for="id_price">Price:</label>
        <input type="number" name="price" maxlength="50" required="" id="id_price">

        <input type="checkbox" name="bathroom_attached" maxlength="50" id="id_bathroom_attached">
        <label for="id_bathroom_attached">Bathroom Attached</label>

        <input type="checkbox" name="ac" id="id_ac">
        <label for="id_ac">AC</label>

        <label for="id_count">Count:</label>
        <input type="number" name="count" maxlength="50" id="id_count">

        <input type="submit" value="Add">

    </form>
</body>
</html>