<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Dashboard</title>
</head>
<body>
    {{ hotel.name }}
    <hr>
    <a href="{% url 'hotel:add-rooms' %}">Add Room</a>
    <!-- <a href="">Add Menu Combo</a> -->
    <br><br>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <br>
    {% for room in rooms %}
      {{ room }}
      <br>
    {% endfor %}
</body>
</html>