{% extends "base.html" %}

{% block content %}

    <form method="post" class="max-w-md mx-auto">
        {% csrf_token %}
        <div class="mb-4">
            <label for="type" class="block text-gray-700 font-bold">Type:</label>
            <select name="type" id="type" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-2 px-3 leading-tight transition-colors duration-200 ease-in-out">
                {% for type in types %}
                    <option value="{{ type.id }}">{{ type.name }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- Repeat the same structure for other form fields -->
        <!-- Name Field -->
        <div class="mb-4">
            <label for="name" class="block text-gray-700 font-bold">Name:</label>
            <input type="text" name="name" id="name" maxlength="50" required="" {% if hotel %}value="{{ hotel.name }}" readonly{% endif %} class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-2 px-3 leading-tight transition-colors duration-200 ease-in-out">
        </div>
        <!-- Email Field -->
        <div class="mb-4">
            <label for="email" class="block text-gray-700 font-bold">Email:</label>
            <input type="email" name="email" id="email" maxlength="254" required="" {% if hotel.email %}value="{{ hotel.email }}" {% else %}value="{{ user.email }}" {% endif %} readonly class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-2 px-3 leading-tight transition-colors duration-200 ease-in-out">
        </div>
        <!-- Phone Field -->
        <div class="mb-4">
            <label for="phone" class="block text-gray-700 font-bold">Phone:</label>
            <input type="text" name="phone" id="phone" maxlength="50" required="" value="{{ hotel.phone }}" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-2 px-3 leading-tight transition-colors duration-200 ease-in-out">
        </div>
        <!-- POC Name Field -->
        <div class="mb-4">
            <label for="poc_name" class="block text-gray-700 font-bold">POC (Point of Contact):</label>
            <input type="text" name="poc_name" id="poc_name" maxlength="50" required="" value="{{ user.username }}" readonly class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-2 px-3 leading-tight transition-colors duration-200 ease-in-out">
        </div>
        <!-- POC Phone Field -->
        <div class="mb-4">
            <label for="poc_phone" class="block text-gray-700 font-bold">POC Phone:</label>
            <input type="text" name="poc_phone" id="poc_phone" maxlength="50" required="" value="{{ hotel.poc_phone }}" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-2 px-3 leading-tight transition-colors duration-200 ease-in-out">
        </div>
        <!-- Place Field -->
        <div class="mb-4">
            <label for="place" class="block text-gray-700 font-bold">Place:</label>
            <input type="text" name="place" id="place" maxlength="50" required="" value="{{ hotel.place }}" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-2 px-3 leading-tight transition-colors duration-200 ease-in-out">
        </div>
        <!-- District Field -->
        <div class="mb-4">
            <label for="district" class="block text-gray-700 font-bold">District:</label>
            <input type="text" name="district" id="district" maxlength="50" required="" value="{{ hotel.district }}" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-2 px-3 leading-tight transition-colors duration-200 ease-in-out">
        </div>
        <!-- State Field -->
        <div class="mb-4">
            <label for="state" class="block text-gray-700 font-bold">State:</label>
            <input type="text" name="state" id="state" maxlength="50" required="" value="{{ hotel.state }}" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-2 px-3 leading-tight transition-colors duration-200 ease-in-out">
        </div>
        <!-- Location Field -->
        <div class="mb-4">
            <label for="location" class="block text-gray-700 font-bold">Location:</label>
            <input type="text" name="location" id="location" maxlength="50" required="" value="{{ hotel.location }}" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-2 px-3 leading-tight transition-colors duration-200 ease-in-out">
        </div>
        <!-- Submit Button -->
        <div class="mb-4">
            <button type="submit" class="w-full bg-indigo-500 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition-colors duration-200 ease-in-out">Register</button>
        </div>
    </form>


{% endblock content %}