{% extends "base.html" %}

{% block title %}
    <title>Add Menu Combo - {{ restaurant.name }}</title>
{% endblock title %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}
        Restaurant name: {{ restaurant.name }}
        <label for="id_restaurant_name">Restaurant ID:</label>
        <input type="text" name="restaurant_name" maxlength="50" required="" id="id_restaurant_name" readonly {% if restaurant %}value="{{restaurant.id}}"{% else %}{% endif %}">

        <label for="id_name">Name:</label>
        <input type="text" name="name" maxlength="50" required="" id="id_name">

        <label for="id_price">Price:</label>
        <input type="number" name="price" maxlength="10" required="" id="id_price">

        <select name="items" required="" id="id_items" multiple="" fdprocessedid="za106b">

            {% for item in items %}
            <option value="{{item.id}}">{{ item }}</option>
            {% endfor %}
          
        </select>

        <input type="submit" value="Add">
    </form>

{% endblock content %}  


