{% extends "base.html" %}

{% block title %}
    <title>Book Combo</title>
{% endblock title %}

{% block content %}

<div class="container mx-auto p-4">
    <!-- Display earned loyal points -->
    {% if loyal_points %}
        <h2 class="text-2xl font-semibold mt-8">Your Loyal Points</h2>
        <p>Total Points: {{ loyal_points.total_points }}</p>
        <p>Redeemed Points: {{ loyal_points.points_redeemed }}</p>
        <p>Points Remain: {{ loyal_points.points_remain }}</p>
        <!-- Add more details about loyal points as needed -->
    {% endif %}
    
    <h1 class="text-3xl font-bold mb-4">Book Combo</h1>

    {% if messages %}
    <div class="alert alert-danger">
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST">
        {% csrf_token %}
        <!-- Combo Name -->
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="combo_name">
                Combo Name
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="combo_name" type="text" placeholder="Combo Name" name="combo_name" value="{{ combo_name }}" readonly>
        </div>
        <!-- Restaurant Name -->
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="restaurant_name">
                Restaurant Name
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="restaurant_name" type="text" placeholder="Restaurant Name" name="restaurant_name" value="{{ restaurant_name }}" readonly>
        </div>
        <!-- Traveler Name -->
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="traveler_name">
                Traveler Name
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="traveler_name" type="text" placeholder="Traveler Name" name="traveler_name" value="{{ traveler_name }}" readonly>
        </div>
        <!-- Amount -->
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="amount">
                Amount per combo
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="amount" type="number" placeholder="Amount" name="amount" value="{{ combo_price }}" readonly>
        </div>
        <!-- Quantity -->
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="quantity">
                Quantity
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="quantity" type="number" placeholder="Quantity" name="quantity">
        </div>
        <!-- Redeem Points -->
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="quantity">
                Redeem points
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="redeem_points" type="number" placeholder="Redeem Points" name="redeem_points">
        </div>
        
        <!-- Submit Button -->
        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Confirm Booking
            </button>
        </div>
    </form>
</div>

{% endblock content %} 