{% extends "base.html" %}

{% block title %}
    <title>Restaurant Dashboard</title>
{% endblock title  %}

{% block content %}
  
    {{ restaurant }}
    <br>
    <hr>
    <a href="{% url 'restaurant:add-menu-item' %}">Add Menu Item</a>
    <a href="{% url 'restaurant:add-menu-combo' %}">Add Menu Combo</a>
    <br>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    <br>
    <h1>Combo List</h1>
    <ul>
        {% for combo in combos %}
            <li>
                <h2>{{ combo.name }}</h2>
                <p>Price: {{ combo.price }}</p>
                <h3>Items:</h3>
                <ul>
                    {% for item in combo.items.all %}
                        <li>{{ item.name }} - {{ item.price }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>    

{% endblock content %}


